<template>
    <section class="au-animate">
        <div id="notfound">
            <div class="container">
                <div class="page-header">
                    <h1>
                        Oooooops!!
                        <small>couldn´t find what you are looking for</small>
                    </h1>
                </div>
                <h3>There isn´t any page on this site with the url you provided, perhaps you are trying to get the ...</h3>
                <div class="list-unstyled mart2">
                    <a class="lead" route-href="route: home">The home page</a>
                    <a class="lead" route-href="route: articles">Articles in this site</a>
                    <a class="lead" route-href="route: user/dashboard">Your dashboard</a>
                    <a class="lead" route-href="route: account/manage">Managing your account</a>
                </div>
            </div>
        </div>
    </section>
</template>
